<div>
    {{>header}}
    {{>navbar}}
    <section class="container my-3">
        <form class="my-2 border border-2 border-primary p-3" method="post">
            <div class="mb-3">
                <input placeholder="username" value='{{user.name}}' name="name" class="form-control">
            </div>
            <div class="mb-3">
                <input placeholder="city" value='{{user.city}}' name="city" class="form-control">
            </div>
            <div class="mb-3">
                <input placeholder="street" value='{{user.street}}' name="street" class="form-control">
            </div>
            <div class="mb-3">
                <input placeholder="building" value='{{user.building}}' name="building" class="form-control">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Edit User</button>
            </div>
        </form>
    </section>
    {{>footer}}
</div>